@using Humanizer

@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>
    youtubed is an anonymous subscription manager for <a href="https://www.youtube.com" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">YouTube</a>.
</p>

<h2>Usage</h2>
<ol>
    <li><a asp-action="CreateList">Create a new list</a>.</li>
    <li>Add channels from YouTube to your secret list.</li>
    <li>Bookmark your secret list and check back for new videos.</li>
</ol>

<h2>How it works</h2>
<p>
    youtubed periodically queries channels that have been added to lists for
    new videos. It does this <em>communally</em> and <em>anonymously</em>
    using randomized delays. When new videos are available, youtubed downloads
    their details and presents them to you when you view your secret list.
</p>

<h2>Privacy</h2>
<p>
    youtubed stores the following usage information:
</p>
<ul>
    <li>When you last viewed your secret list (with noise added).</li>
    <li>Web server logs for 7 days.</li>
</ul>
<p>
    youtubed does not track or store any other information about your usage.
</p>
<p>
    youtubed attempts to execute the following programs in your browser on some
    pages:
</p>
<ul>
    <li>jQuery 2.2.0 <sub>(<a href="https://github.com/jquery/jquery/tree/2.2.0" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/jquery/jquery/2.2.0/LICENSE.txt" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery Validate 1.14.0 <sub>(<a href="https://github.com/jquery-validation/jquery-validation/tree/1.14.0" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/jquery-validation/jquery-validation/1.14.0/LICENSE.md" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery Validate Unobtrusive 3.2.6 <sub>(<a href="https://github.com/aspnet/jquery-validation-unobtrusive/tree/v3.2.6" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/aspnet/jquery-validation-unobtrusive/v3.2.6/LICENSE.txt" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
</ul>
<p>
    These programs are retrieved from the <a href="https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Microsoft Ajax Content Delivery Network</a>
    using Subresource Integrity (SRI). All third-party links, images,
    stylesheets and scripts are configured with a Referrer Policy of
    "no-referrer".
</p>
<p>
    No attempt is made for any third-party resources other than those listed
    above. Additionally, youtubed automatically deletes:
</p>
<ul>
    <li>Lists that have not been accessed within @Constants.ListMaxAgeMin.Humanize().</li>
    <li>Metadata for videos published more than @Constants.VideoMaxAge.Humanize() ago.</li>
    <li>Metadata for channels that are not used in any lists.</li>
</ul>

<h2>Contact</h2>
<dl class="dl-horizontal">
    <dt>General questions</dt>
    <dd><a href="mailto:youtubed@veggiebur.gr">youtubed@veggiebur.gr</a></dd>
</dl>
