@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>
    subscriptiond <sub>(<a href="https://github.com/ppaskaris/subscriptiond" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/ppaskaris/subscriptiond/master/LICENSE" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub>
    is an anonymous subscription manager for <a href="https://www.youtube.com" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">YouTube</a>.
    It is <a href="https://www.gnu.org/philosophy/free-sw.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">free software</a>,
    distributed under the <a href="https://www.gnu.org/copyleft/gpl.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">GNU General Public License</a>.
</p>

<h2>Usage</h2>
<ol>
    <li><a asp-action="CreateList">Create a new list</a>.</li>
    <li>Add channels from YouTube to your list.</li>
    <li>Bookmark your list and check back for new videos.</li>
</ol>

<h2>How it works</h2>
<p>
    subscriptiond periodically queries channels that have been added to lists
    for new videos. It does this communally and anonymously using randomized
    delays. When new videos are available, subscriptiond downloads their
    details and presents them when you view your list.
</p>

<h2 id="privacy">Privacy</h2>
<p>
    subscriptiond uses the YouTube API. By using this software, you are
    agreeing to be bound by the following:
</p>
<ul>
    <li><a href="https://www.youtube.com/t/terms" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">YouTube Terms of Service</a></li>
    <li><a href="http://www.google.com/policies/privacy" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Google Privacy Policy</a></li>
</ul>
<p>
    subscriptiond does not track or store any usage information other than:
</p>
<ul>
    <li>When you last viewed your list (with noise added).</li>
    <li>Web server logs for 7 days.</li>
</ul>
<p>
    subscriptiond attempts to execute the following scripts on some pages:
</p>
<ul>
    <li>jQuery 2.2.0 <sub>(<a href="https://github.com/jquery/jquery/tree/2.2.0" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/jquery/jquery/2.2.0/LICENSE.txt" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery Validate 1.14.0 <sub>(<a href="https://github.com/jquery-validation/jquery-validation/tree/1.14.0" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/jquery-validation/jquery-validation/1.14.0/LICENSE.md" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery Validate Unobtrusive 3.2.6 <sub>(<a href="https://github.com/aspnet/jquery-validation-unobtrusive/tree/v3.2.6" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/aspnet/jquery-validation-unobtrusive/v3.2.6/LICENSE.txt" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
</ul>
<p>
    These programs are retrieved from the <a href="https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Microsoft Ajax Content Delivery Network</a>
    using Subresource Integrity (SRI). All third-party links, images,
    stylesheets and scripts are configured with a Referrer Policy of
    "no-referrer".
<p>
    subscriptiond automatically deletes:
</p>
<ul>
    <li>Lists that have not been accessed within @Constants.ListMaxAgeMin.Humanize().</li>
    <li>Metadata for videos published earlier than @Constants.VideoMaxAge.Humanize() ago.</li>
</ul>

<h2>Contact</h2>
<dl class="dl-horizontal">
    <dt>General questions</dt>
    <dd><a href="mailto:subscriptiond@veggiebur.gr">subscriptiond@veggiebur.gr</a></dd>
</dl>
