@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>youtubed is an anonymous subscription manager for <a href="https://youtube.com" rel="noopener noreferrer">YouTube</a>.</p>

<h2>Contact</h2>
<ul>
    <li>
        <strong>General questions:</strong> <a href="mailto:youtubed@veggiebur.gr">youtubed@veggiebur.gr</a>
    </li>
</ul>
