@{
    ViewData["Title"] = "Home";
}

<h1>subscriptiond</h1>
<p>
    subscriptiond is an anonymous subscription manager for <a href="https://www.youtube.com" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">YouTube</a>.
</p>

<h2>Lists</h2>
<p><strong>Lists</strong> are anonymous subscriptions to one or more YouTube channels.</p>
<a class="btn btn-default" asp-action="CreateList">Create New List</a>
