body {
    overflow-y: scroll;
    padding-bottom: 20px;
}

.navbar {
    border-radius: 0;
    border-width: 0 0 1px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Video List */
.video-item {
    display: block;
    float: left;
    height: 204px;
    margin-bottom: 24px;
    margin-right: 4px;
    overflow: hidden;
    width: 224px;
}

.video-link {
    display: block;
}

.video-link:hover {
    text-decoration: none;
}

.video-image {
    position: relative;
}

.video-duration {
    background-color: rgb(17, 17, 17);
    border-radius: 2px;
    bottom: 4px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    font-weight: bold;
    opacity: 0.8;
    padding: 2px 4px;
    position: absolute;
    right: 4px;
}

.video-title {
    color: rgb(17, 17, 17);
    display: block;
    font-size: 13px;
    font-weight: bold;
    max-height: 48px;
    overflow: hidden;
    padding: 8px 0;
}

.video-channel-link, .video-published-at {
    color: rgb(112,112,112);
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-channel-link:hover {
    color: rgb(65,65,65);
    text-decoration: none;
}

/* Channel List */

.channel-item {
    display: block;
    float: left;
    height: 220px;
    margin-bottom: 24px;
    margin-right: 4px;
    overflow: hidden;
    width: 138px;
}

.channel-link {
    display: block;
}

.channel-link:hover {
    text-decoration: none;
}

.channel-title {
    color: rgb(17, 17, 17);
    display: block;
    font-size: 13px;
    font-weight: bold;
    max-height: 48px;
    overflow: hidden;
    padding: 8px 0;
}
