body {
    overflow-y: scroll;
    padding-bottom: 20px;
}

.navbar {
    border-radius: 0;
    border-width: 0 0 1px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.video-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.video-item {
    display: block;
    float: left;
    height: 228px;
    overflow: hidden;
    padding-bottom: 24px;
    padding-right: 4px;
    width: 228px;
}

.video-link {
    display: block;
}

.video-link:hover {
    text-decoration: none;
}

.video-image {
    position: relative;
}

.video-duration {
    background-color: rgb(17, 17, 17);
    border-radius: 2px;
    bottom: 4px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    font-weight: bold;
    opacity: 0.8;
    padding: 2px 4px;
    position: absolute;
    right: 4px;
}

.video-title {
    color: rgb(17, 17, 17);
    display: block;
    font-size: 13px;
    font-weight: bold;
    max-height: 48px;
    overflow: hidden;
    padding: 8px 0;
}

.channel-title, .video-published-at {
    color: rgba(17, 17, 17, 0.6);
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-title:hover {
    color: rgba(17, 17, 17, 0.8);
    text-decoration: none;
}