@model youtubed.Models.AddChannelModel

@{
    ViewData["Title"] = "Add New Channel";
}

<h1>Add Channel</h1>
<form asp-action="AddChannel">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Url" class="control-label"></label>
        <input asp-for="Url" class="form-control" aria-describedby="UrlHelp" placeholder="https://www.youtube.com/user/PewDiePie" />
        <span asp-validation-for="Url" class="text-danger"></span>
        <span id="UrlHelp" class="help-block">Copy the text in your browser's <a href="https://en.wikipedia.org/wiki/Address_bar#Address_bar_implementations" rel="nofollow noreferrer" target="_blank">address bar</a> while on the channel page.</span>
    </div>
    <input asp-for="Id" />
    <input asp-for="Token" />
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Token)
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="View" asp-route-id="@Model.Id" asp-route-token="@Model.Token">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
